# Python y Cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class
*.so
.Python

# Entornos virtuales
env/
venv/
ENV/
.env
.venv

# Django (Archivos locales que NO deben subirse)
db.sqlite3
*.sqlite3
db.sqlite3-journal
SISTEMA/db.sqlite3
media/
/media
staticfiles/
/staticfiles
/static/

# IDEs (VS Code / IntelliJ)
.vscode/
.idea/
*.swp
*.bak

# Archivos de sistema (Windows / macOS)
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store