<!DOCTYPE html>
<html>
<head>
    <title>Editar Producto</title>
</head>
<body>

<h1>Editar Producto</h1>

<form method="POST">
    {% csrf_token %}
    Nombre: <input type="text" name="nombre" value="{{ producto.nombre }}"><br><br>
    Descripción: <input type="text" name="descripcion" value="{{ producto.descripcion }}"><br><br>
    Precio: <input type="number" step="0.01" name="precio" value="{{ producto.precio }}"><br><br>
    Fecha Apartado: <input type="date" name="fecha_apartado" value="{{ producto.fecha_apartado }}"><br><br>
    Cliente: <input type="text" name="cliente" value="{{ producto.cliente }}"><br><br>
    <button type="submit">Actualizar</button>
</form>

<a href="{% url 'lista_productos' %}">Volver</a>

</body>
</html>