<!DOCTYPE html>
<html>
<head>
    <title>Editar Inscripción</title>
</head>
<body>
    <h1>Editar Inscripción</h1>

    <form method="POST">
        {% csrf_token %}

        <label>Curso:</label><br>
        <input type="text" name="curso" value="{{ inscripcion.curso }}"><br><br>

        <label>Avance (%):</label><br>
        <input type="number" name="avance" min="0" max="100" value="{{ inscripcion.avance }}"><br><br>

        <button type="submit">Actualizar</button>
    </form>

    <br>
    <a href="{% url 'lista' %}">Volver</a>
</body>
</html>