{% extends 'alumnos/base.html' %}

{% block content %}

<div class="card p-4 shadow col-md-6 mx-auto">

    <h1 class="mb-4 text-center">Editar Materia</h1>

    <a href="/" class="btn btn-soft mb-3">← Volver</a>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label>Nombre</label>
            <input type="text" name="nombre" class="form-control" value="{{ materia.nombre }}">
        </div>

        <div class="mb-3">
            <label>Créditos</label>
            <input type="number" name="creditos" class="form-control" value="{{ materia.creditos }}">
        </div>

        <div class="mb-3">
            <label>Horario</label>
            <input type="text" name="horario" class="form-control" value="{{ materia.horario }}">
        </div>

        <button class="btn btn-pink w-100">Guardar Cambios</button>

    </form>

</div>

{% endblock %}